<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/kitlogo"
        android:label="KitByte"
        android:supportsRtl="true"
        android:theme="@style/Theme.ProjetoInterdisciplinar"
        tools:targetApi="31">
        <activity
            android:name=".EscolherFoto"
            android:exported="false" />
        <activity
            android:name=".Assinatura"
            android:exported="false" />
        <activity
            android:name=".Aulas"
            android:exported="false" />
        <activity
            android:name=".Tarefas"
            android:exported="false" />
        <activity
            android:name=".Ranking"
            android:exported="false" />
        <activity
            android:name=".Perfil"
            android:exported="false" />
        <activity
            android:name=".Login"
            android:exported="false" />
        <activity
            android:name=".Offline"
            android:exported="false" />
        <activity
            android:name=".Home"
            android:exported="false" />
        <activity
            android:name=".Register"
            android:exported="false" />
        <activity
            android:name=".RedefinirSenha"
            android:exported="false" />
        <activity
            android:name=".Loading"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>